main {
  max-width: 860px;
  margin: 0 auto;
  padding: 1.2rem;
}


.related-posts {
  margin-top: 3rem;
  padding-top: 1.5rem;
}

.related-posts h3 {
  margin-bottom: 0.8rem;
}

.related-posts ul {
  list-style: none;
  padding-left: 0;
}

.related-posts li {
  margin-bottom: 0.4rem;
}

