---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>

    <div class="post-meta">
      <span class="views">
        👁 <span data-goatcounter-count="{{ page.url }}">0</span>
      </span>
    </div>
  </header>

  <section class="post-content">
    {{ content }}

    <hr>

<section class="related-posts">
  <h3>Related posts</h3>
  <ul>
  {% assign related = site.posts | where_exp: "p", "p.url != page.url" %}
  {% assign shown = 0 %}

  {% for p in related %}
    {% assign overlap = 0 %}
    {% for t in p.tags %}
      {% if page.tags contains t %}
        {% assign overlap = overlap | plus: 1 %}
      {% endif %}
    {% endfor %}

    {% if overlap >= 2 %}
      <li>
        <a href="{{ p.url }}">{{ p.title }}</a>
      </li>
      {% assign shown = shown | plus: 1 %}
    {% endif %}

    {% if shown >= 5 %}
      {% break %}
    {% endif %}
  {% endfor %}
  </ul>
</section>

  </section>

</article>
